@use "../abtract/mixin" as layout;
@use "../abtract/variable" as colors_bg;
.main {
  width: 100%;
  min-height: 100vh;
  @include layout.flex($direction: row, $gap: 7rem);
  background-color: rgb(248, 248, 248);
  &__introduction {
    max-width: 32rem;
  }
  &__mobile {
    // padding: 1rem;
    max-width: 20rem;
    height: 37rem;
    border: 0.8rem solid #ffffff;
    border-radius: 1.5rem;
    box-shadow: 0.2rem 0.75rem 0.4rem rgba(0, 0, 0, 0.067);
    background-color: colors_bg.$light-grayish-violet;
  }
}
