@use "../abtract/variable" as colors_bg;
.mobile {
  position: relative;
  &__camera {
    width: 10.5rem;
    height: 2.2rem;
    position: absolute;
    top: -0.5rem;
    left: calc(50% - 5.25rem);
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    background-color: colors_bg.$white;
  }
}
